ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }
  .navigation {
  background-color: #f1f1f1;
  height: 900px;
  }

  .std-registration {
    height: 74px;
    width: 268px;
    background-color: rgb(226, 229, 231);
    text-align: center;
    padding-top: 34px;
    padding-left: 15px;
  }
  .std-profile {
    height: 74px;
    width: 268px;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 34px;
    padding-left: 15px;
  }

  .container {
    padding: 16px;
    background-color: lightgray;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  
  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .form-container {
    font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  box-sizing: border-box;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* nav {
    float: left;
    width: 30%;
    height: 300px; 
    background: #ccc;
    padding: 20px;
  }
  */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color:white;
    height: 300px; 
  }
  section {
  padding-top: 15px;
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
   * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 16%;
  height: 736px; /* only for demonstration, should be removed */
  background:white;
  padding: 22px;

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
#success-msg {
  color: green;
  text-align: center;
  padding-right: 250px;
}
.all_std_details {
  padding-top: 12px;
  
}
.std_admin {
  background-color: white;
  padding-top: 23px;
}
/* ------------------------------------- */
table {
  font-family: arial;
  border-collapse: collapse;
  width: 1053px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.table-header {
  background-color:#9e9e93
}
.delete-std {
  text-align: right;
}